.article {
  width: 100vw;
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  padding: 2%;
  p {
    font-size: 1.2em;
  }

  span {
    font-size: 1.2em;
    font-weight: bold;
  }
}

@media only screen and (max-width: 550px) {
  .article {
    height: 14vh;
    p {
      font-size: 1em;
    }
  }
}
