.display {
  display: grid;
  gap: 2%;
  justify-content: center;
  grid-template-rows: 30% 30% 30% 30%;
  grid-template-columns: 30% 30% 30%;
}

.box {
  border: 1px solid black;
  padding: 1%;
  text-align: center;
  overflow: hidden;
}

@media only screen and (max-width: 1200px) {
  .display {
    grid-template-rows: max-content;
    grid-template-columns: 40% 40%;
  }
}

@media only screen and (max-width: 800px) {
  .display {
    grid-template-rows: max-content;
    grid-template-columns: 80%;
  }
}
